@use "../../styles/variables.scss" as *;

.MuiDrawer-paper {
  background-color: $primary500 !important;
  color: white !important;
  scrollbar-width: none !important;
}
.custom-icon {
  color: white;
}
.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
  .profile-name {
    font-weight: 800;
  }
  .profile-email {
    font-weight: 500;
    font-size: 12px;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.css-cokf1l-MuiListItemIcon-root {
  min-width: 35px !important;
}
.active {
  background-color: #6c55ff !important;
  border-left: 4px solid white !important;
  padding-left: calc(16px - 4px) !important;
}
