@use "../../styles/variables.scss" as *;
.login-btn {
  background-color: $primary500;
  color: #fff;
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
  &:hover {
    background-color: $primary700;
  }
  &:active {
    background-color: $primary900;
  }
}
