@use "../../styles/variables.scss" as *;
.feedbackStudent-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .search-section {
    margin: 20px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    .outlined-basic {
      width: 100%;
    }
    .apply-button {
      background-color: $primary500;
      color: #fff;
      border: none;
      width: 100px;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;
      height: 100%;
      transition: all 0.3s;
      font-weight: 700;
      &:hover {
        background-color: $primary700;
      }
      &:active {
        background-color: $primary900;
      }
    }
    .clear-button {
      background-color: transparent;
      color: #8c8c8c;
      border: none;
      padding: 10px 24px;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;
      height: 100%;
      transition: all 0.3s;
      font-weight: 700;
      &:hover {
        background-color: rgb(208, 205, 205);
      }
      &:active {
        background-color: $primary900;
      }
    }
    .search-container {
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 5px 10px;
      width: 280px;
      background-color: #f4f4f4;
    }
    // @media screen and (max-width: 900px) {
    //   .search-container {
    //     width: 200px;
    //   }
    // }
    .search-icon {
      font-size: 20px;
      color: #8c8c8c;
    }

    .search-input {
      border: none;
      outline: none;
      flex: 1;
      padding: 5px;
      font-size: 16px;
      background-color: #f4f4f4;
    }
  }
  .class-section {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .filter-container {
    display: flex;
    gap: 10px;
  }
  .date-pickerr {
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    color: rgb(99, 99, 99);
    padding: 5px;
    input {
      border: none;
      background-color: #f4f4f4;
    }
    label {
      font-size: 14px;
      padding-right: 5px;
    }
  }
  .salary-section {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .plus-icon {
    color: #1bc392;
  }
}

.save-button {
  background-color: $primary500;
  color: #fff;
  border: none;
  padding: 10px 22px;
  width: 80px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  transition: all 0.3s;
  font-weight: 700;
  &:hover {
    background-color: $primary700;
  }
  &:active {
    background-color: $primary900;
  }
}
.popover-footer {
  display: flex;
  justify-content: space-between;
  .delete-btn {
    color: red;
    background-color: #ffebee;
    border-radius: 3px;
  }
}
.cancel-button {
  font-weight: 700;
}
.delete-button {
  font-weight: 700;
}
