//variables
$primary900: #0005e7;
$primary800: #0018eb;
$primary700: #001ef0;
$primary600: #3226f8;
$primary500: #0005e7;
$primary500: #462aff;
$primary400: #704eff;
$primary300: #8f70ff;
$primary200: #b29bff;
$primary100: #d2c3fe;
$primary50: #eee6ff;

$secondary900: #0060a1;
$secondary800: #0080c2;
$secondary700: #0091d6;
$secondary600: #05a5ea;
$secondary500: #0ab3f9;
$secondary400: #31bff9;
$secondary300: #55cbf9;
$secondary200: #85dafb;
$secondary100: #b5e8fc;
$secondary50: #e2f6fe;

$tertiary900: #f9710f;
$tertiary800: #fa8f12;
$tertiary700: #fba013;
$tertiary600: #fbb216;
$tertiary500: #fbc01c;
$tertiary400: #fcc931;

$neutral900: #1e1e1e;
$neutral800: #3f3f3f;
$neutral700: #5d5d5d;
$neutral600: #717171;
$neutral500: #9a9a9a;
$neutral400: #b9b9b9;
$neutral300: #dddddd;
$neutral200: #ececec;
$neutral100: #f4f4f4;
$neutral50: #f9f9f9;

$error100: #FFCED1;

$confirmed:#D4FFBF

