.forgotP-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 992px) {
  .forgotP-container {
    align-items: center;
  }
}
@media (max-width: 576px) {
  .forgotP-container {
    width: 100%;
  }
}
