@use "../../styles/variables.scss" as *;
.change-button {
  background-color: $primary500 !important;
  color: #fff;
  border: none;
  width: 100%;
  padding: 15px 0;
  border-radius: 8px;
  padding: auto;
  text-align: center;
  cursor: pointer;
  height: 100%;
  transition: all 0.3s;
  font-weight: 700;
  font-size: 16px;
  &:hover {
    background-color: $primary700;
  }
  &:active {
    background-color: $primary900;
  }
}
