@use '../../styles/variables' as *;

.schedule-container {
    width: 100%;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    height: 100%; 
    .table-wrapper {
        border-radius: 12px;
        height: 100%;
        overflow: hidden; 
        border: 1px solid $neutral500;
       

        table.schedule-table {
            width: 100%;
            height: 100%;
        border-radius: 12px;
            overflow: hidden; 
            border: 1px solid $neutral500; 
            border-collapse: collapse; 
            th, td {
                border: 1px solid $neutral500; 
                padding: 12px;
                text-align: center;
                height: fit-content;
            }

            thead{
                height: 47px;
                box-sizing: border-box;
            }
          
            th {
                background-color: #f8f8f8;
                font-weight: bold;
            }

            .day,
            .date {
                display: inline-block; // Eyni sətirdə görünməsi üçün
                font-size: 1rem;
                margin-right: 5px; // Aralarında boşluq üçün
                font-weight: 600;
                line-height: 100%;
                letter-spacing: 0%;

            }

            .date{
font-size: 14px;
color: $neutral700;

            }
            .day{
             
                font-size: 16px;
                color: $neutral900;
                
            }

            .time-slot{
                max-width: 48px;
                padding: 12px;
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                span{
                    display: block;
                }
            }

            .day-off{
                padding: 12px 17px;
            }
           
        }
    }
}
.unviewed {
    background-color: $primary100;
    color: #000;
  }
  
  .canceled {
    background-color: $error100;
    color: #000;
  }
  
  .confirmed {
    background-color: $confirmed;
    color: #000;
  }
  
  .class-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    color: $neutral900;
    // padding: 20px;

    .class-name{
        font-size: 16px;

    }
    .status-text{
        font-size: 14px;
    }

    .student-count {
        display: flex;
        align-items: center;
        margin-top: 4px;
      }


      .pagination {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 8px;
    
        button {
          padding: 4px 10px;
          background: #eee;
          border: none;
          cursor: pointer;
    
          &.active {
            background: #ccc;
          }
        }
    
        @media (max-width: 1024px) {
          display: none;
        }
      }
  }
  

  

  

  