.header-container {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  .header-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    color: grey;
  }
}
.header {
  width: 96%;
  margin: 16px;
}
